body {
	margin: 0;
	font: 12px "Lucida Grande";
}

a:link {
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#front, #back {
	position: absolute;
	top: 0;
	left: 0;
	width: 425px;
	background-color: #cccccc;
  display:block; 
}

select#states {
  float: right;
}

#poll {
  margin: 10px;
  padding: 10px;
  height: 200px;
}
#poll.favorsDem {background: #e0e7ff;}
#poll.favorsRep {background: #ffe0ff;}
#back { 
  background-color: black;
  display:none;
} 

#infoButton { 
  position:absolute; 
  bottom:24px; 
  right:40px;
  display: block;
} 
#doneButton { 
  position:absolute; 
  bottom:20px; 
  left:82px;
  display:block;
} 

#state_display .bar {
  opacity: 0.8;
  display:block;
}

#dem .bar {background-color: blue;}
#rep .bar {background-color: red;}
#ind .bar {background-color: white;}
