body {
	margin: 0;
	font: 12px "Lucida Grande";
}

a:link {
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#front, #back {
	position: absolute;
	top: 0;
	left: 0;
	width: 380px;
  display:block; 
}

#front {
  background: transparent url(default.png) no-repeat center;
}

select#states {
  float: right;
  position: relative;
  z-index: 3;
}

#poll {
  margin: 10px;
  padding: 10px;
  height: 240px;
  position: relative;
}
.display {
  position: relative;
  z-index: 2;
  height: 150px;
  padding: 10px;
}
#poll #leaning {
  height: 85%;
  width: 94%;
  background: transparent;
  opacity: 0.4;
  position: absolute;
  z-index: 0;
}
#poll.favorsDem #leaning {background: #e0e7ff;}
#poll.favorsRep #leaning {background: #ffe0ff;}
#back { 
  background-color: black;
  display:none;
} 

#infoButton { 
  position:absolute; 
  bottom:24px; 
  right:40px;
  display: block;
} 
#doneButton { 
  position:absolute; 
  bottom:20px; 
  left:82px;
  display:block;
} 

#state_display .bar {
  opacity: 0.8;
  display:block;
}

#dem .bar {background-color: blue;}
#rep .bar {background-color: red;}
#ind .bar {background-color: white;}
